ros/robot_ws/build
ros/robot_ws/install
ros/robot_ws/log

# Entornos virtuales
venv/
env/
.venv/

# Archivos Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# Variables de entorno
.env

proyecto/src/log/build_*/

# Carpetas de compilación e instalación de ROS/ROS2
build/
install/
log/

# Archivos de Python innecesarios
__pycache__/
*.pyc

# Archivos ocultos del sistema o IDEs (opcional)
.DS_Store
.vscode/